@{
  Layout = "_Layout";
}
<h2>Add a new order for @Model.Name</h2>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <br>
  <label for="orderTitle">Order Title:</label>
  <input id="orderTitle" name="orderTitle" type="text"><br>
  <br>
  <label for="orderDetails">Order Details:</label>
  <input id="orderDetails" name="orderDetails" type="text"><br>
  <br>
  <label for="orderDate">Order Date:</label>
  <input id="orderDate" name="orderDate" type="text"><br>
  <br>
  <label for="orderPrice">Order Price:</label>
  <input id="orderPrice" name="orderPrice" type="text"><br>
  <br>
  <button type="submit" class="button">Add Order</button>
  </form>
  <br><br>
  <p><a href="/vendor">Return To Vendor List</a></p>
  <p><a href="/">Return to the Index</a></p>