@{
  Layout = "_Layout";
}

<h1>Add a Order to @Model.vednorName</h1>
<p>Add an Order here:</p>

<form action="/vendors/@Model.Id/orders" method="post">
  <label for="title">Order title</label>
  <input id="title" name="title" type="text">
  <br>
  <label for="description">Order description</label>
  <input id="description" name="dscription" type="text">
  <br>
  <label for="price">Order price</label>
  <input id="price" name="price" type="text">
  <br>
  <label for="date">Order date</label>
  <input id="date" name="date" type="text">
  <br>
  <button type="submit">Add</button>
</form>

<p><a href="/">Back to the homepage</a></p>
<p><a href="/vendors">Back to list of vendors</a></p>